body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.hero-image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/farol.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/farol.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}
body {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/* Navigation Settings */

nav {
    font-family: 'Gudea', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
}
nav li {
    display: inline-block;
    padding: 24px 10px;
}
nav li a {
    color: #ffffff;
    text-transform: uppercase;
}
nav li a:hover {
    color: #bcc3c9;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}
section {
    height: 100vh;
}

/* Screens Settings */

#screen1 {
    background: #000000;
}
#screen1 p {
    padding-top: 200px;
}
#screen2 {
    background: #ffc800;
}
#screen3 {
    background: #000000;
}
.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}
.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}
@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}


@media only screen and (max-width: 520px) {
    nav {
        font-family: 'Gudea', sans-serif;
        position: absolute;
        bottom: -17px;
        width: 100%;
        height: 70px;
        rgb(0, 0, 0);
    }
    nav li a:hover {
        color: #bcc3c9;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
    }
    nav li {
        padding: 24px 4px;
    }
    nav li a {
        font-size: 14px;
    }
}
